<script src="/bower/dropzone/downloads/dropzone.js"></script>
<link rel="stylesheet" type="text/css" href="/client/css/uploader.css">

<div id="dropzone">
    <form action="/file-upload"
          class="dropzone"
          id="my-awesome-dropzone">
    </form>
</div>