$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;

  div#dropzone {
    display: block;
    background-color: lightgrey;
    width: 500px;
    height: 250px;
    border-radius: 9px;
    margin: 10px;
    padding: 8px;
  }
}

